<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Assignments"
        tools:targetApi="31">
        <activity
            android:name=".Customtoolbar"
            android:exported="true" >

        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>

        </activity>

        <activity
            android:name=".Seekbar"
            android:exported="true">

        </activity>
        <activity
            android:name=".Radio_color"
            android:exported="true"></activity>
        <activity
            android:name=".String_array"
            android:exported="true" />
        <activity
            android:name=".Checkbox"
            android:exported="true" />
        <activity
            android:name=".n_Edittext"
            android:exported="true" />
        <activity
            android:name=".Textsize"
            android:exported="true" />
        <activity
            android:name=".Pdf"
            android:exported="true" />
        <activity
            android:name=".Textview_Hide"
            android:exported="true" />
        <activity
            android:name=".Webviewactivity"
            android:exported="true" />
        <activity
            android:name=".WelcomeScreen"
            android:exported="false" />
        <activity
            android:name=".Loginform"
            android:exported="true" />
        <activity
            android:name=".Radio_Cals"
            android:exported="true" />
        <activity
            android:name=".Input_number_second_activity"
            android:exported="false" />
        <activity
            android:name=".InputActivity"
            android:exported="true" />
        <activity
            android:name=".ReverceNumber"
            android:exported="true" />
        <activity
            android:name=".MainActivity2"
            android:exported="true" />
        <activity
            android:name=".Data_passing_Fragment"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>